<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB Filters</title>
</head>
<body>
    <h1>HBNB Filters</h1>
    <form action="">
        <label for="states">States:</label>
        <select id="states" name="states">
            {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
        </select>
        
        <label for="amenities">Amenities:</label>
        <select id="amenities" name="amenities">
            {% for amenity in amenities %}
                <option value="{{ amenity.id }}">{{ amenity.name }}</option>
            {% endfor %}
        </select>
    </form>
</body>
</html>
